@model  LMS.Models.FeedBackViewModel
@{ 
    var feedlist = ViewBag.FeedbackList;
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">DateOfComment</th>  
            <th scope="col">Responsible</th>                       
            <th scope="col">FeedBack</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in feedlist)
        {
            <tr>
                <td>@item.Date</td>
                <td>@item.Responsible</td>
                <td>@item.Comment</td>
            </tr>            
        }
    </tbody>
</table>

  