@model LMS.Context.Feedback
<div>
    <span class="d-inline-block">Date:</span><span>@Model.Date</span>
</div>
<div>
    <span class="d-inline-block">Reference No:</span><span>@Model.ReferenceNo</span>
</div>
<div>
    <span class="d-inline-block">Responsible :</span><span>@Model.Responsible</span>
</div>
<div>
    <span class="d-inline-block"></span><span>@Model.Comments</span>
</div>