@model LMS.Context.Letter

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LetterPreview</title>
</head>
<body>
    <div>
        <h4>Letter</h4>
        <hr />
        <dl class="dl-horizontal">
            <dd>
                <img src="@Url.Content(Model.ScannedImage)" width="500" height="500" />
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
