@model  LetterManagementSystem.Models.gmail
@{
    ViewBag.Title = "Compose";
    Layout = "~/Views/Shared/_masterlayout.cshtml";
}

<html>
  <head>

  </head>
  <body>
      <div>
          @using (Html.BeginForm("Compose","LetterSending",FormMethod.Post,new { enctype = "multipart/form-data" }))
          {
              <center>
                 <table>
                     <tr>
                         <td style="width:80px">To:</td>
                         <td>@Html.TextBoxFor(model=>model.To)</td>
                     </tr>
                     <tr>
                         <td>Subject:</td>
                         <td>@Html.TextBoxFor(model => model.Subject)</td>
                     </tr>
                     <tr>
                         <td valign="top"> Body:</td>
                         <td>@Html.TextAreaFor(model => model.Body,new {rows="5",cols="23"})</td>
                     </tr>
                     <tr>
                         <td >
                             <input type="submit" value="Send" />
                         </td>
                     </tr>
                 </table>
                  <br/>
                  <span style="color:green">@ViewBag.Message</span>
              </center>
          }
      </div>
  </body>
</html>