@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<br/>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link href="~/template/AdminLTE-3.0.2/dist/css/adminlte.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <style>
        span.field-validation-error {
            color: red;
        }
    </style>
</head>
<body>
    <div style="width:90%; margin:0 auto" class="tablecontainer">
        <table id="myDatatable">
            <thead>
                <tr>
                    <th>Letter From</th>
                    <th>Subject</th>
                    <th>Receive Date</th>
                    <th>Letter Status</th>
                    @*<th>Letter Image</th>*@
                    <th>Responsible</th>
                    <th>Feedback</th>
                    <th>Assigned</th>                   
                </tr>
            </thead>
        </table>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>    
    <script>
        $(document).ready(function () {
            var oTable = $('#myDatatable').DataTable({
                "ajax": {
                    "url": '/LetterSending/ViewAllIncomingLetter',
                    "type" : "get",
                    "datatype" : "json"
                },
                "columns": [
                    { "data": "LetterFrom", "autoWidth": true },
                    { "data": "Subject", "autoWidth": true },
                   {
                       data: "ReceiveDate",
                       render: function (data, type, myDatatable) {
                           return myDatatable.ReceiveDate;
                       }
                   },
                    { "data": "LetterStatus", "autoWidth": true },
                    //{ "data": "ScannedImage", "autoWidth": true },
                   
                     { "data": "Responsible", "autoWidth": true },
                    {
                        "data": "LetterID", "width": "50px", "render": function (data) {
                            return '<a class="popup"  href="/home/delete/' + data + '">comment<br/>see all comments</a>';
                        }
                    },
                     {
                         "data": "LetterID", "width": "50px", "render": function (data) {
                             return '<a class="popup"  href="/home/delete/' + data + '">Assign</a>';
                         }
                     },
                ]
            })
           
        })
    </script>
</body>
</html>