
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<script src="~/Scripts/KENDO_WORK/KendoComboBox.js"></script>

<h2>All Employee List</h2>

<div class="row">
    <div class="col-md-12">
        <div id="gridKendoUI"></div>
    </div>
</div>  