<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>
<body>

    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>WelCome to Bangladesh Finance and Invest Company Limited</h1>
    </div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>Loan</h2>
                <h5>We are ready to provide loan to you</h5>
                <div id="main" style="width: 300px; height: 170px;">
                    <img src="~/wwwroot/img/loan.jpg" />
                </div>
                <h2>Deposite</h2>
                <h5>Deposite Here for safty and interest</h5> 
                <div id="main" style="width: 300px; height: 170px;">
                    <img src="~/wwwroot/img/deposite.jpg" /> 
                </div>
                <h3>Some Links</h3>
                <p>Lorem ipsum dolor sit ame.</p>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>
                <hr class="hidden-sm hidden-md hidden-lg">
            </div>
            <div class="col-sm-8">
                <h2><i>Loan taking process<b></h2>
                <h5>Title description, Dec 7, 2017</h5>
                <div class="fakeimg">Fake Image</div>
                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                <br>
                <h2>Title 3</h2>
                <h5>Title description, Sep 2, 2017</h5>
                <div class="fakeimg">Fake Image</div>
                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>
        </div>
    </div>

    <div class="jumbotron text-center" style="margin-bottom:0">
        <div class="top-info">
            <div class="left primary_color"><span class="pe-7s-call"></span></div>
            <div class="right">
                <span class="title">+88-02-9559146 </span>
                <span class="text">info@bdfinance.com.bd</span>
            </div>
        </div>
        <div class="top-info">
            <div class="left primary_color"><span class="pe-7s-map-marker"></span></div>
            <div class="right">
                <span class="title">Corporate Office</span>
                <span class="text">27 Dilkusha, Motijheel</span>
            </div>
        </div>
       <p><a href="https://bdfinance.com.bd/">Visit Our Website</a></p> 
    </div>

</body>
</html>
