
@{
    ViewBag.Title = "Index";
}

<h2>All Employee List</h2>

<script src="~/Scripts/KENDO_WORK/Index.js"></script>

<div class="row">
    <div class="col-md-12">
        <div id="grid"></div>
    </div>
</div>  