
@{
    ViewBag.Title = "kendoScheduler";
}

<script src="~/Scripts/KENDO_WORK/kendoScheduler.js"></script>

<h2>kendoScheduler</h2>

<div class="row">
    <div class="col-md-12">
        <div id="scheduler"></div>
    </div>
</div> 

